#clockContainer{  
    position: relative;
    margin: auto;
    height: 25vw;
    width: 25vw; 
    background: url(clock1.png) no-repeat;
    background-size: 100%;
    margin-top: 10%;
    box-shadow: 20px;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px; 
    transform-origin: bottom;
    /*transition: all 4s ease;*/
   
}
#hour{
    width: 1.8%;
    height: 25%;
    top: 21%;
    left: 49.95%;
    opacity: 0.8;  

}
#minute{
    width: 1.4%;
    height: 35%;
    top: 11%;
    left: 49.9%;
    opacity: 0.8;  
}
#second{
    width: 1%;
    height: 41%;
    top: 5%;
    left: 50.4%;
    opacity: 0.8; 

    
}
.digital
{
    background-image: url();
    text-align: center;
    padding-top: 3%;
}
#hour1
{
  
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color: #0C7690 ;

}
#min
{
  
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color:#0C7690 ;
}
#sec
{
  
    font-size: 40px;
    font-family: 'Sacramento', cursive;
    color: #0C7690 ;
}